.menu_container {
    padding: 112px 15px 100px 15px;
    width: clamp(300px, 100%, 1400px);
    margin: auto;
}
.menu_container>div:nth-child(1){
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu_container>div:nth-child(1)>h3 {
    width: clamp(300px, 100%, 700px);
    font-weight: 400;
    font-size: 55px;
    color: #0e1317;
    text-align: center;
   
}

.menu_container>div:nth-child(1)>h6 {
    font-size: 20px;
    font-weight: 400;
    color: #ec3d08;
}




.menu_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.menu_items{
    flex-grow: 1;
    background-color: #f4f1ea;

}
.menu_items>ul>li {
    list-style-type: none;
    padding: 25px 45px 25px 45px;
    border: 1px dashed rgba(23, 26, 33, .15);
}

.menu_items>ul>li>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.menu_items>ul>li>div:nth-child(1)>h3:nth-child(1) {
    font-size: 24px;
    font-weight: 400;
}

.menu_items>ul>li>div:nth-child(1)>h3:nth-child(2) {
    color: #ec3d08;
}

.menu_items>ul>li>div:nth-child(2) {
    font-family: "Roboto", sans-serif;
    color: #696969;
    font-weight: 400;
}

.menu_center>li {
    background-color: #fff8eb !important;
}

 @media(width<=1024px){
    .menu_main {
        flex-wrap: wrap;
    }
    
}
@media (width<=631px){
    .menu_container>div:nth-child(1)>h3 {
        font-size: 35px;
        text-align: start;
    }
    .menu_container>div:nth-child(1){
        align-items: start;
    }
}
