@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

.popular_container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    
}

.popular_text {
    width: clamp(300px, 100%, 650px);
    padding: 50px 130px 15px 15px;
    background: url(../Images/popular_background.webp);
}


.popular_text>h6 {
    color: #EC3D08;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 400;
}

.popular_text>h1 {
    color: #0E1317;
    font-size: 55px;
    font-weight: 400;

}

.popular_text>p {
    color: #696969;
    margin-top: 22px;
    font-family: "Roboto", sans-serif;

}


.popular_text>div {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}

.popular_text>div:nth-child(4)>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.popular_text>div:nth-child(4)>div:nth-child(1)>button {
    background-color: #EC3D08;
}

/* .popular_text>div:nth-child(5){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */
/* .popular_text>div:nth-child(5)>div{
    width: 220px;

} */
/* .popular_text>div:nth-child(5)>div>img{
    display: flex;
    height: 50px;
    width: 50px;
}
.popular_text>div:nth-child(5)>div>h5{
    font-size: 22px;
    font-weight: 500;
    margin: 5px 0;
}
.popular_text>div:nth-child(5)>div>p{
      font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #171717;
    text-transform: capitalize;
}

.popular_text>div:nth-child(5)>p{
    margin-top: 10px;
    width: 180px;
} */

.popular_text>div:nth-child(4)>div:nth-child(1)>div:nth-child(2) {
    display: flex;
}

.popular_text>div:nth-child(4)>div:nth-child(1)>div:nth-child(2)>img {
    border-radius: 100%;
    height: 55px;
    width: 55px;
}

.popular_text>div:nth-child(4)>div:nth-child(1)>div:nth-child(2)>div:nth-child(2) {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.popular_text>div:nth-child(4)>div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>h5 {
    font-size: 20px;
    font-weight: 400;
    color: #0E1317;
}

.popular_text>div:nth-child(4)>div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>div {
    font-weight: 400;
    color: #696969;
    font-family: "Roboto", sans-serif;
}



.popular {
    width: clamp(300px, 100%, 700px);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

.popular_main {
    background-color: white;

}

.popular_main>div:nth-child(1)>img {
    height: 55px;
    width: 55px;
    /* background-color: red; */
    margin-top: 50px;
}

.popular_main {
    height: 300px;
    width: 300px;
    /* gap: 10px; */
    padding: 30px;
}
.popular>div:nth-child(1){
    margin-top: 5px;
}
.popular>div:nth-child(2){
    margin-top: 30px;
    margin-left: 20px;
}
.popular>div:nth-child(3){
    margin-top: 5px;
}
.popular>div:nth-child(4){
    margin-top: 30px;
     margin-left: 20px;
}

.popular_main>div:nth-child(2)>h5 {
    font-size: 24px;
    font-weight: 400;
    color: #0e1317;
    margin-top: 15px;
}

.popular_main>div:nth-child(2)>p {
    color: #696969;
    font-family: roboto, sans serif;
    font-weight: 400;
    margin-top: 15px;
}