@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

.popular_container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    width: clamp(300px, 100%, 1400px);
    background:url(../Images//popular_background.webp);
    background-size: cover  ;
    margin: auto;
}

.popular_text {
    width: clamp(300px, 100%, 700px);
}


.popular_text>h6 {
    color: #EC3D08;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 400;
}

.popular_text>h1 {
    color: #0E1317;
    font-size: 55px;
    font-weight: 400;
}

.popular_text>p {
    color: #696969;
    margin-top: 22px;
    font-family: "Roboto", sans-serif;

}


.popular_text>div:nth-child(4) {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}







.popular_text>div:nth-child(4)>button {
    background-color: #EC3D08;
}

.popular_text>div:nth-child(4)>div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 15px;
}

.popular_text>div:nth-child(4)>div:nth-child(2)>img {
    border-radius: 100%;
    height: 55px;
    width: 55px;
}



.popular_text>div:nth-child(4)>div:nth-child(2)>h5 {
    font-size: 20px;
    font-weight: 400;
    color: #0E1317;
}
.popular_text>div:nth-child(4)>div:nth-child(2)>h5>span {
  font-weight: 400;
    color: #696969;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
.counter-section{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}
.counter-section>div>p:nth-child(2){
    font-size: 16px;
    font-weight: 400;
    color: #696969;
    font-family: roboto, sans serif;
}
 .counter-section>div>div{
    display: flex;
    align-items: center;
    gap: 5px;
} 
.counter-section>div>div:nth-child(1){
    font-size: 48px;
    font-weight: 400;
    color: #0E1317;
}
.counter-section>div>div>h3{
    font-size: 48px;
    font-weight: 400;
    color: #0E1317;
    
}




.popular {
    width: clamp(300px, 100%, 700px);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.popular_main {
    height: 280px;
    width: 280px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
display: flex;
justify-content: space-evenly;
flex-direction: column;    
padding: 0 30px;
}
.popular_main>h5{
    font-size: 26px;
    font-weight: 400;
}
.popular_main>p{
    font-size: 16px;
    font-weight: 400;
    color: #696969;
     font-family: "Roboto", sans-serif;
}
.popular_main>img {
    height: 55px;
    width: 55px;
    margin-top: 50px;
      filter: invert(19%) sepia(97%) saturate(7489%) hue-rotate(1deg) brightness(103%) contrast(119%);

}


.popular>div:nth-child(2){
    margin-top: 40px;
}