/* From Uiverse.io by barisdogansutcu */ 
.button_text_sec {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 50px;
 position: relative;
 padding: 0 20px;
 font-size: 18px;
 text-transform: uppercase;
 border: 0;
 box-shadow: #EC3D08;
 overflow: hidden;
 transition: 31ms cubic-bezier(.5, .7, .4, 1);
}

.button_text_sec:before {
 content: attr(alt);
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 inset: 0;
 font-size: 15px;
 color: #171717;
 letter-spacing: 1px;
 opacity: 1;
}

.button_text_sec:active {
 box-shadow: none;
 transform: translateY(7px);
 transition: 35ms cubic-bezier(.5, .7, .4, 1);
}

.button_text_sec:hover:before {
 transition: all .0s;
 transform: translateY(100%);
 opacity: 0;
}

.button_text_sec i {
 color: #171717;
 font-size: 15px;
 letter-spacing: 1px;
 font-style: normal;
 transition: all 2s ease;
 transform: translateY(-20px);
 margin-left: 1px;
 opacity: 0;
}

.button_text_sec:hover i {
 transition: all .2s ease;
 transform: translateY(0px);
 opacity: 1;
}

.button_text_sec:hover i:nth-child(1) {
 transition-delay: 0.045s;
}

.button_text_sec:hover i:nth-child(2) {
 transition-delay: calc(0.045s * 3);
}

.button_text_sec:hover i:nth-child(3) {
 transition-delay: calc(0.045s * 4);
}

.button_text_sec:hover i:nth-child(4) {
 transition-delay: calc(0.045s * 5);
}

.button_text_sec:hover i:nth-child(6) {
 transition-delay: calc(0.045s * 6);
}

.button_text_sec:hover i:nth-child(7) {
 transition-delay: calc(0.045s * 7);
}

.button_text_sec:hover i:nth-child(8) {
 transition-delay: calc(0.045s * 8);
}

.button_text_sec:hover i:nth-child(9) {
 transition-delay: calc(0.045s * 9);
}

.button_text_sec:hover i:nth-child(10) {
 transition-delay: calc(0.045s * 10);
}